<div class="profileContainer">
  <div class="leftMenu">
    <ul>
      <li class="tab active" data-target="#profileForm"><a href="">Profiel instellingen</a></li>
      <li class="tab" data-target="#contact-received"><a href="">Ontvangen contactverzoeken</a></li>
      <li class="tab" data-target="#contact-send"><a href="">Verzonden contactverzoeken</a></li>
      <li class="tab" data-target="#favourites"><a href="">Favorieten</a></li>
      <li class="tab" data-target="#chats"><a href="">Mijn chats</a></li>
    </ul>
  </div>
  <div class="profileForm tab-content" id="profileForm">
    <h1>Mijn profiel</h1>
    <h3>Vereiste gegevens</h3>
          <%= form_for @profile do |f| %>

        <%= f.text_field :name, class: "homeFormField", placeholder: "Naam" %>
        <%= f.text_field :age, class: "homeFormField", placeholder: "Leeftijd"  %>
        <%= f.text_field :location, class: "homeFormField", placeholder: "Woonplaats"  %>
        <%= f.file_field  :photo, class: "homeFormField", placeholder: "Foto"  %>
        <%= f.hidden_field  :photo_cache %>

        <%= f.submit 'Sla mijn profiel op', style: "width:80%;", class: "button fullred long sharp " %>
      <% end %>

  </div>
  <div class="profileScore">
    <h1>Profielscore: 60% </h1>
    <div class="teaserCard">
      <div class="teaserCard_thumb">
        <%= cl_image_tag @profile.photo, height: 200, width: 200, crop: :fill %>
      </div>
      <div class="teaserCard_body">
        <div class="card_info">
          <strong><%= @profile.name %></strong>  <br>
          leeftijd: <%= @profile.age %> <br>
          woonplaats: <%= @profile.location %> <br>
          beroep: freelance <br>
        </div>
        <div class="teaserCard_description">
            <%= @profile.description %>
        </div>
      </div>
      <div class="contactBox">
        <%= link_to "Neem contact op ;-)", new_user_session_path, class: "signupLink" %>
      </div>
    </div>
  </div>

</div>

<!-- <form action="/profiles" method="post">

  <label for="name">Your name</label>
  <input type="text" name="profile[name]">

  <label for="name">Your age</label>
  <input type="text" name="profile[age]">

  <label for="name">Your location</label>
  <input type="text" name="profile[locatoin]">

  <input type="submit">
</form> -->
