<div class="profileContainer">
  <div class="leftMenu">
    <ul>
      <li class="tab active" data-target="#newProfile"><a href="">Profiel instellingen</a></li>
      <li class="tab" data-target="#contact-received"><a href="">Ontvangen contactverzoeken</a></li>
      <li class="tab" data-target="#contact-send"><a href="">Verzonden contactverzoeken</a></li>
      <li class="tab" data-target="#favourites"><a href="">Favorieten</a></li>
      <li class="tab" data-target="#chats"><a href="">Mijn chats</a></li>
    </ul>
  </div>
  <div class="newProfile tab-content" id="newProfile">
    <%= render "profile_form" %>
    <%= render "profile_score" %>
  </div>

  <div class="contactReceived tab-content hidden" id="contact-received">
    <%= render "contact_received" %>
  </div>

  <div class="contactSend tab-content hidden" id="contact-send">
    <%= render "contact_send" %>
  </div>

  <div class="favBox tab-content hidden" id="favourites">
    <%= render "favourites" %>
  </div>

  <div class="chatBox tab-content hidden" id="chats">
    <%= render "chats" %>
  </div>

</div>

<!-- <form action="/profiles" method="post">

  <label for="name">Your name</label>
  <input type="text" name="profile[name]">

  <label for="name">Your age</label>
  <input type="text" name="profile[age]">

  <label for="name">Your location</label>
  <input type="text" name="profile[locatoin]">

  <input type="submit">
</form> -->
