<header>
  <div class="wrapper clearfix">
    <div id="logo">
      <%= link_to "Shuffle", root_path %>
    </div>
    <nav>

      <%= link_to 'FAQ', new_user_session_path, class: "headerLink" %>
      <%= link_to 'Help', new_user_session_path, class: "headerLink" %>
      <%= link_to 'Contact', new_user_session_path, class: "headerLink Right" %>

      <% if user_signed_in? && current_user.profile %>
        <%= link_to 'My Profile', profile_path(current_user.profile), class: "button" %>
      <% elsif user_signed_in? %>
        <%= link_to 'Create Profile', new_profile_path, class: "button" %>
      <% else %>
        <%= link_to 'Aanmelden', new_user_session_path, class: "button fullred" %>
        <%= link_to 'Log in', new_user_session_path, class: "button borderblue" %>
        <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <% end %>
      </nav>
  </div>
</header>
