<div class="flexCard">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="teaserCard">
      <div class="teaserCard_thumb">
        <%= cl_image_tag @thijmen.photo, height: 200, width: 200, crop: :fill %>
      </div>
      <div class="teaserCard_body">
        <div class="card_info">
          <strong><%= @thijmen.name %></strong>  <br>
          leeftijd: <%= @thijmen.age %> <br>
          woonplaats: <%= @thijmen.location %> <br>
          beroep: freelance <br>
          <%= @thijmen.description %>
        </div>
      </div>
      <div class="contactBox">
        <%= link_to "Neem contact op ;-)", new_user_session_path, class: "signupLink" %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="teaserCard">
      <div class="teaserCard_thumb">
        <%= cl_image_tag @felix.photo, height: 200, width: 200, crop: :fill %>
      </div>
      <div class="teaserCard_body">
        <div class="card_info">
          <strong><%= @felix.name %></strong> <br>
          leeftijd: <%= @felix.age %> <br>
          woonplaats: <%= @felix.location %> <br>
          beroep: freelance  <br>
          <%= @felix.description %>
        </div>
      </div>
      <div class="contactBox">
        <%= link_to "Neem contact op ;-)", new_user_session_path, class: "signupLink" %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="teaserCard">
      <div class="teaserCard_thumb">
        <%= cl_image_tag @random.photo, height: 200, width: 200, crop: :fill %>
      </div>
      <div class="teaserCard_body">
        <div class="card_info">
          <strong><%= @random.name %></strong>  <br>
          leeftijd: <%= @random.age %> <br>
          woonplaats: <%= @random.location %> <br>
          beroep: freelance <br>
          <%= @random.description %>
        </div>
      </div>
      <div class="contactBox">
        <%= link_to "Neem contact op ;-)", new_user_session_path, class: "signupLink" %>
      </div>
    </div>
  </div>


</div>



