  <div class="banner">
  <h1>Jouw relatie vinden? <br />
   Shuffle is nu 100% gratis!</h1>
  <div class="banner-content">
      <h2>Meld je aan met <a href="#">Facebook</a> of <a href="#">Google</a></h2>

     <h3><span>of</span></h3>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <%= f.email_field :email, class: "homeFormField", placeholder: "Email adres" %>
        <%= f.password_field :password, class: "homeFormField", placeholder: "Wachtwoord" %>
        <%= f.password_field :password_confirmation, class: "homeFormField", placeholder: "Wachtwoord opnieuw" %> <br />
        <p>Geboortedatum</p>
        <div class="homeFormDate">
          <%= f.date_select :birthday, :start_year=>1900 %>
        </div>
        <div class="signupBox"><%= f.submit "Gratis Aanmelden", id: "signupLink" %></div>
      <% end %>

  </div>
</div>

<div class="infoContainer">
  <div class="item">
    <%= image_tag("stap-1.png", class: "homeIcon") %>
    <h2>100% gratis, geen addertjes!</h2>
    <p>Aanmelden en meteen opzoek! Geen lange vragenlijsten of testjes invullen. Shuffle is 100% gratis voor vrouwen. Er zijn geen verbogen abonnementen en voor mannen is het altijd maandelijks opzegbaar. Bovendien is het een zeer makkelijk systeem.</p>
  </div>
  <div class="item">
    <%= image_tag("stap-2.png", class: "homeIcon") %>
    <h2>Makkelijk filteren</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste et eveniet commodi numquam earum deserunt placeat consequatur ex sint adipisci, atque ad rem fugiat totam! Necessitatibus ab recusandae ullam minus.</p>
  </div>
  <div class="item">
    <%= image_tag("stap-3.png", class: "homeIcon") %>
    <h2>Relatie gevonden? Altijd opzegbaar!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, voluptatibus, minus. Facere nostrum, saepe ex animi culpa hic. Nihil, magnam</p>
  </div>
</div>

<div class="teaserContainer">

</div>
